.custom-list-item {
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1rem;

  @media(max-width: 768px) {
    font-size: 25px;
    margin-bottom: 0.5rem;
  }
}

.custom-list-item:hover {
  transform: scale(1.1);
  /* Aumenta o tamanho em 10% */
  transition: transform 0.3s ease-in-out;
  /* Adiciona uma transição suave */
}