@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif !important;

}

.title {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}